body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(135deg, #1f4037, #99f2c8);
    color: white;
}

.title {
    text-align: center;
    margin-bottom: 30px;
    font-size: 32px;
    font-weight: bold;
    letter-spacing: 1px;
}


.editor-section {
    display: flex;
    gap: 25px;
    margin-bottom: 25px;
}


.htmleditor-box,
.csseditor-box {
    width: 50%;
    background: rgba(0, 0, 0, 0.4);
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
    transition: transform 0.3s ease;
}

.htmleditor-box:hover,
.csseditor-box:hover {
    transform: translateY(-5px);
}


.download-btn {
    display: block;
    margin: 25px auto;
    padding: 12px 35px;
    background: linear-gradient(45deg, #ff416c, #ff4b2b);
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 30px;
    font-weight: bold;
    font-size: 16px;
    transition: all 0.3s ease;
}

.download-btn:hover {
    transform: scale(1.08);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
}


.preview-section {
    margin-top: 40px;
    text-align: center;
}

.preview-section h2 {
    margin-bottom: 15px;
}


.preview-section iframe {
    width: 100%;
    height: 250px;
    background: white;
    border-radius: 15px;
    border: none;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.4);
}